@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

/* Typography */

html {
  font-size: 16px;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

/* Headings */

h1 {
  color: var(--neon-green);
  font-size: 0.6875rem;
  letter-spacing: 0.21606rem;
  text-transform: uppercase;

  @media screen and (min-width: 580px) {
    font-size: 0.8125rem;
    letter-spacing: 0.25538rem;
  }
}

/* Paragraphs */

blockquote {
  color: var(--light-cyan);
  font-size: 1.5rem;
  letter-spacing: -0.01606rem;

  @media screen and (min-width: 580px) {
    font-size: 1.75rem;
    letter-spacing: -0.01875rem;
  }
}

/* Images */

img {
  width: 100%;
}

/* Background */

body {
  background-color: var(--dark-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */

.card {
  background-color: var(--dark-grayish-blue);
  width: 100%;
  max-width: 343px;
  padding: 40px 24px 0 24px;
  border-radius: 10px;

  @media screen and (min-width: 580px) {
    max-width: 540px;
    padding: 48px 48px 0 48px;
    border-radius: 15px;
  }
}

/* Advice */

blockquote {
  margin: 24px 0;

  @media screen and (min-width: 580px) {
    margin: 24px 0 40px 0;
  }
}

/* Divider */

.divider-wrapper {
  display: block;
  height: 16px;
  max-width: 100%;
  margin-bottom: 32px;

  @media screen and (min-width: 580px) {
    margin-bottom: 40px;
  }
}

/* Button */

footer {
  display: flex;
  justify-content: center;
  margin-bottom: -32px;
}

button {
  width: 64px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;;
  background-color: var(--neon-green);
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 3px var(--neon-green);
}

.dice-wrapper {
  display: block;
  width: 100%;
  max-width: 24px;
}